.see_detail {
  margin-top: 10px;
}

.show_list_student {
  margin-left: 50px;
  margin-top: 10px;
}

p, a {
  color: #4c845b;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover:not(.active) {
  color: #35cb5d;
  text-decoration: none;
}

.active {
  color: #35cb5d;
  font-size: 15px;
  font-weight: 900;
}
