<div class="container">
  <h2 id="title">{{title}}</h2>
  <div class="box_of_index">
    <button class="box" (click)="go_to_kindergarten()">อนุบาล</button>
    <button class="box" (click)="go_to_primary_school()">ประถมศึกษา</button>
    <button class="box" (click)="go_to_secondary_school()">มัธยมศึกษา</button>
  </div>
</div>
