/* Set Full Screen */
.container {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

#title {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #4c845b;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
  padding-top: 83px;
  padding-bottom: 83px;
  margin-left: 59.6px;
  left: 0;
  align-items: center;
  font-size: 20px;
  color: #4c845b;
  width: 160px;
  height: 192.2px;
  border: #b2caab solid;
  border-radius: 17.5px;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box_of_index {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
