.navbar-brand {
  color: #4c845b;
  font-size: 15px;
  font-weight: bold;
}

.navbar-brand a:hover {
  color: #35cb5d;
  text-decoration: none;
}

.nav_item {
  margin-left: 50px;
}
ul {
  margin: 0px;
  padding: 0px;
  background-color: #d9f3d1;
  overflow: hidden;
}

li a {
  margin-left: 26px;
  display: block;
  color: #4c845b;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #35cb5d;
  text-decoration: none;
}

.active {
  color: #35cb5d;
  font-size: 15px;
  font-weight: 900;
}
