<div class="container">
    <app-header></app-header>
    <p id="title">{{header_title}}</p>
    <div class="card">
      <div class="card-body">
        <div class="form-row" *ngFor="let student of students">
          <div class="form-inline col-md-9 show_list_student">
            <input [(ngModel)]="student.studentCode" name="studentCode"/>
            <p>{{student.studentCode}} {{student.prefix}}{{student.firstName}} {{student.lastName}} ชั้น {{student.currentClassroom}}</p>
          </div>
          <div class="form-inline col-md-2 see_detail">
            <div *ngFor="let addressHome of addressHome">
              {{addressHome.homeParticularId}}
            </div>
              <p><a (click)="go_to_profile_page(student.studentCode)" style="margin-right: 20px">ดูรายละเอียด</a></p>
              <p><a (click)="deleteStudent(student)" style="color: crimson">ลบข้อมูล</a></p>
          </div>
        </div>
        <!-- If not Insert Information -->
        <div *ngIf="list_student.length == 0">
          <p style="text-align: center">ยังไม่ได้เพิ่มข้อมูลนักเรียน</p>
        </div>
      </div>
    </div>
</div>
