<div class="container">
  <p id="title">{{header_title}}</p>
  <div class="create_form">
    <form (ngSubmit)="add_information()">
      <div>
        <label class="title_in_div">{{address_student}}</label>
        <div class="form-row" style="margin-left: 20px">
        <div class="form-inline col-md-2">
          <label for="houseNumber" class="label_text">บ้านเลขที่</label>
          <input type="text" class="form-control text_input" name="houseNumber" id="houseNumber" [(ngModel)]="address_home_particular.houseNumber" style="width: 50%"/>
        </div>
        <div class="form-inline col-md-3">
          <label for="address_home_particular.village" class="label_text">ชื่อหมู่บ้าน</label>
          <input type="text" class="form-control" name="address_home_particular.village" id="address_home_particular.village" [(ngModel)]="address_home_particular.village" style="width: 70%"/>
        </div>
        <div class="form-inline col-md-2">
          <label for="address_home_particular.road" class="label_text">ถนน</label>
          <input type="text" class="form-control" name="address_home_particular.road" id="address_home_particular.road" [(ngModel)]="address_home_particular.road" style="width: 60%"/>
        </div>
        <div class="form-inline col-md-2">
          <label for="address_home_particular.soi" class="label_text">ซอย</label>
          <input type="text" class="form-control" name="address_home_particular.soi" id="address_home_particular.soi" [(ngModel)]="address_home_particular.soi" style="width: 60%"/>
        </div>
        <div class="form-inline col-md-3">
          <label for="address_home_particular.province" class="label_text">จังหวัด</label>
            <select class="form-control dropdown" [(ngModel)]="address_home_particular.province" name="address_home_particular.province" id="address_home_particular.province" style="width: 70%">
              <option  *ngFor="let province of list_province" [value]="province.province">
                {{province.province}}
              </option>
            </select>
        </div>
        </div>
        <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-4">
            <label for="address_home_particular.district" class="label_text">อำเภอ</label>
            <select class="form-control dropdown" [(ngModel)]="address_home_particular.district" name="address_home_particular.district" id="address_home_particular.district" style="width: 80%">
              <option  *ngFor="let district of list_districts" [value]="district.district">
                {{district.district}}
              </option>
            </select>
          </div>
          <div class="form-inline col-md-4">
            <label for="address_home_particular.subDistrict" class="label_text">ตำบล</label>
            <select class="form-control dropdown" [(ngModel)]="address_home_particular.subDistrict" name="address_home_particular.subDistrict" id="address_home_particular.subDistrict" style="width: 80%">
              <option  *ngFor="let subDistrict of List_subDistricts" [value]="subDistrict.subDistrict">
                {{subDistrict.subDistrict}}
              </option>
            </select>
          </div>
          <div class="form-inline col-md-4">
            <label for="address_home_particular.postCode" class="label_text">รหัสไปรษณีย์</label>
            <input type="text" class="form-control" name="address_home_particular.postCode" id="address_home_particular.postCode" [(ngModel)]="address_home_particular.postCode" style="width: 50%"/>
          </div>
        </div>
        <hr>
        <label class="title_in_div">{{current_address_student}}</label>
        <div class="form-inline col-md-12">
          <input type="checkbox" class="form-control radio_button" name="same_home_address" id="same_home_address"/>
          <label for="same_home_address" class="label_text" style="margin-right: 30px">เหมือนที่อยู่ตามทะเบียนบ้าน</label>
        </div>
        <br>
        <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-2">
            <label for="studentCode_current" class="label_text">บ้านเลขที่</label>
            <input type="text" class="form-control" name="address_current.houseNumber" id="address_current.houseNumber" [(ngModel)]="address_current.houseNumber" style="width: 50%"/>
          </div>
          <div class="form-inline col-md-3">
            <label for="address_home_particular.village" class="label_text">ชื่อหมู่บ้าน</label>
            <input type="text" class="form-control" name="address_home_particular.village" id="address_home_particular.village" [(ngModel)]="address_current.village" style="width: 70%"/>
          </div>
          <div class="form-inline col-md-2">
            <label for="address_home_particular.road" class="label_text">ถนน</label>
            <input type="text" class="form-control" name="address_home_particular.road" id="address_home_particular.road" [(ngModel)]="address_current.road" style="width: 60%"/>
          </div>
          <div class="form-inline col-md-2">
            <label for="address_home_particular.soi" class="label_text">ซอย</label>
            <input type="text" class="form-control" name="address_home_particular.soi" id="address_home_particular.soi" [(ngModel)]="address_current.soi" style="width: 60%"/>
          </div>
          <div class="form-inline col-md-3">
            <label for="address_home_particular.province" class="label_text">จังหวัด</label>
              <select class="form-control dropdown" [(ngModel)]="address_current.province" name="address_home_particular.province" id="address_home_particular.province" style="width: 70%">
                <option  *ngFor="let province of list_province" [value]="province.province">
                  {{province.province}}
                </option>
              </select>
          </div>
          </div>
          <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-4">
            <label for="address_current.district" class="label_text">อำเภอ</label>
              <select class="form-control dropdown" [(ngModel)]="address_current.district" name="address_current.district" id="address_current.district" style="width: 80%">
                <option  *ngFor="let district of list_districts" [value]="district.district">
                  {{district.district}}
                </option>
              </select>
          </div>
          <div class="form-inline col-md-4">
          <label for="address_current.subDistrict" class="label_text">ตำบล</label>
            <select class="form-control dropdown" [(ngModel)]="address_current.subDistrict" name="address_current.subDistrict" id="address_current.subDistrict" style="width: 80%">
              <option  *ngFor="let subDistrict of List_subDistricts" [value]="subDistrict.subDistrict">
                {{subDistrict.subDistrict}}
              </option>
            </select>
          </div>
          <div class="form-inline col-md-4">
            <label for="address_current.postCode" class="label_text">รหัสไปรษณีย์</label>
            <input type="text" class="form-control" name="address_current.postCode" id="address_current.postCode" [(ngModel)]="address_current.postCode" style="width: 50%"/>
          </div>
          </div>
        <hr>
      </div>
      <input type="submit" value="ถัดไป" class="btn btn-success"/>
    </form>
  </div>
  <a href="/create_parent"></a>
</div>
