<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9f3d1; width: 100%; height: 60px;">
  <a class="navbar-brand" routerLink="/">CHIANGRAI PANYANUKUL <br><img src="/assets/image/college-graduation.png" width="25" height="25"/></a>
  <div class="collapse navbar-collapse nav_item" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li>
        <a routerLink="/create_student">เพิ่มข้อมูลนักเรียน</a>
      </li>
      <!-- <li>
        <a routerLink="/create_ability_header">เพิ่มหัวข้อ</a>
      </li>
      <li>
        <a routerLink="/create_ability">เพิ่มข้อมูลหัวข้อย่อย</a>
      </li>
      <li>
        <a routerLink="/create_ability_detail">เพิ่มรายละเอียด</a>
      </li> -->
      <li>
        <a routerLink="/search_information">ค้นหาข้อมูลนักเรียน</a>
      </li>
      <li>
        <a routerLink="/search_address">ค้นหาที่อยู่นักเรียน</a>
      </li>
      <li>
        <a routerLink="/search_history">ค้นหาหอพัก/ชั้นเรียน</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span>
          <a routerLink="#">ลงชื่อออก <img src="/assets/image/logout.png" width="25" height="25"/></a>
        </span>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
