html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
.container {
  height: 100vh;
}

.navbar-brand {
  color: #4c845b;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.navbar-brand a:hover:not(.active) {
  color: #35cb5d;
  text-decoration: none;
}

.nav_item {
  margin-left: 50px;
}
ul {
  margin: 0px;
  padding: 0px;
  background-color: #d9f3d1;
  overflow: hidden;
}

li a {
  margin-left: 26px;
  display: block;
  color: #4c845b;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
  color: #35cb5d;
  text-decoration: none;
}

.active {
  color: #35cb5d;
  font-size: 15px;
  font-weight: 900;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

