<div class="container">
  <p id="title">{{header_title}}</p>
    <div class="create_form">
      <form (ngSubmit)="add_information()" #studentForm="ngForm" autocomplete="on" enctype="multipart/form-data">
      <div>
        <label class="title_in_div">{{title_student}}</label>
        <div class="form-row" style="margin-bottom: 0px">
          <div class="form-group col-md-2 text_not_have_label">
            <select class="form-control dropdown" name="prefix" id="prefix" [(ngModel)]="student.prefix" required>
              <option *ngFor="let item of list_prefix" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="form-inline col-md-3">
            <label for="firstName" class="label_text">ชื่อ</label>
            <input type="text" class="form-control text_input" name="firstName" id="firstName" [(ngModel)]="student.firstName" style="width: 80%" required/>
          </div>
          <div class="form-inline col-md-4">
            <label for="lastName" class="label_text">สกุล</label>
            <input type="text" class="form-control text_input" name="lastName" id="lastName" [(ngModel)]="student.lastName" style="width: 80%" required/>
          </div>
          <div class="form-group col-md-3 text_not_have_label">
            <input type="text" class="form-control" name="birthDate" id="birthDate" placeholder="วันเดือนปีเกิด" [(ngModel)]="student.birthDate"
              #birthDay="bsDatepicker" bsDatepicker [bsValue]="bsValue"
              [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY' }" autocomplete="off" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-4">
            <label for="studentCode" class="label_text">เลขประจำตัวนักเรียน</label>
            <input type="text" class="form-control" name="studentCode" id="studentCode" [(ngModel)]="student.studentCode" required/>
          </div>
          <div class="form-inline col-md-4">
            <label for="idCard" class="label_text">เลขประจำตัวบัตรประชาชน</label>
            <input type="text" class="form-control" name="idCard" id="idCard" [(ngModel)]="student.idCard" style="width: 45%" required/>
          </div>
          <div class="form-inline col-md-4">
            <label for="crippleCard" class="label_text">เลขประจำตัวบัตรคนพิการ</label>
            <input type="text" class="form-control" name="crippleCard" id="crippleCard" [(ngModel)]="student.crippleCard" style="width: 50%" required/>
          </div>
        </div>
        <div class="form-row">
            <div class="form-inline col-md-5">
              <label for="cripple" class="label_text">ประเภทความพิการ</label>
              <select class="form-control dropdown" [(ngModel)]="crippleId" id="cripple" name="cripple" style="width: 50%" required>
                <option  *ngFor="let cripple of cripples" [value]="cripple.crippleId">
                  {{cripple.crippleType}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-7">
              <label for="student.complexCripple" class="label_text">พิการซ้อน:</label>
              <input class="form-control" name="student.complexCripple" id="student.complexCripple" [(ngModel)]="student.complexCripple" style="width: 80%" required/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-inline col-md-4">
              <label for="origin" class="label_text">เชื้อชาติ</label>
              <select class="form-control dropdown text_input" [(ngModel)]="student.origin" name="origin" id="origin" style="width: 80%" required>
                <option  *ngFor="let origin of list_origin" [value]="origin">
                  {{origin}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="nationality" class="label_text">สัญชาติ</label>
              <select class="form-control dropdown" [(ngModel)]="student.nationality" name="nationality" id="nationality" style="width: 80%" required>
                <option  *ngFor="let nationality of list_origin" [value]="nationality">
                  {{nationality}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="religion" class="label_text">ศาสนา</label>
              <select class="form-control dropdown" [(ngModel)]="student.religion" name="religion" id="religion" style="width: 80%" required>
                <option  *ngFor="let religion of list_religion" [value]="religion">
                  {{religion}}
                </option>
              </select>
            </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-4">
              <label for="classroom" class="label_text">ชั้นเรียนปัจจุบัน</label>
              <select class="form-control dropdown text_input" [(ngModel)]="student.currentClassroom" id="classroom" name="classroom" style="width: 60%" required>
                <option  *ngFor="let classroom of list_classroom" [value]="classroom">
                  {{classroom}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-5">
              <label for="teacherName" class="label_text">ครูประจำชั้น</label>
              <input type="text" class="form-control" name="teacherName" id="teacherName" [(ngModel)]="history_student.teacherName" style="width: 60%" required/>
            </div>
            <div class="form-inline col-md-3">
              <label for="dormitory" class="label_text">หอพัก</label>
              <select class="form-control dropdown" name="dormitory" id="dormitory" [(ngModel)]="history_student.dormitoryName" required>
                <option *ngFor="let dormitory of list_dormitory" [value]="dormitory">{{dormitory}}</option>
              </select>
            </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-8">
            <label for="previousSchool" class="label_text">โรงเรียน / สถานศึกษาเดิม</label>
            <input type="text" class="form-control" name="previousSchool" id="previousSchool" [(ngModel)]="student.previousSchool" style="width: 60%" required/>
          </div>
          <div class="form-inline col-md-4">
              <label for="startedClassroom" class="label_text">ชั้นที่เริ่มเข้าเรียน</label>
              <select class="form-control dropdown text_input" [(ngModel)]="student.startedClassroom" name="startedClassroom" id="startedClassroom" style="width: 60%" required>
                <option  *ngFor="let classroom of list_classroom" [value]="classroom">
                  {{classroom}}
                </option>
              </select>
            </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-6">
            <label for="image" class="label_text">ภาพถ่าย</label>
            <input type="file" class="form-control" name="image" id="image" [(ngModel)]="student.image"
              (change)="selectFile($event)" accept="image/*"
              #image/>
          </div>
          <div class="form-inline col-md-6">
            <img [src]="url" width="180px" height="250px">
          </div>
        </div>
      </div>
      <hr>
      <div>
        <label class="title_in_div">{{health_student}}</label>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <div class="form-inline col-md-2">
              <label for="congenitalDisease" class="label_text">โรคประจำตัว</label>
            </div>
            <div class="form-inline col-md-10">
              <input type="text" class="form-control" name="congenitalDisease" id="congenitalDisease" [(ngModel)]="student.congenitalDisease" style="width: 80%" required/>
            </div>
          </div>
          <div class="form-inline col-md-12">
              <div class="form-inline col-md-2">
                <label for="congenitalDisease" class="label_text">ยาประจำตัว</label>
              </div>
              <div class="form-inline col-md-10">
                <input type="text" class="form-control" name="personalMedicine" id="personalMedicine" [(ngModel)]="student.personalMedicine" style="width: 80%" required/>
              </div>
            </div>
            <div class="form-inline col-md-12">
                <div class="form-inline col-md-2">
                  <label for="congenitalDisease" class="label_text">อาการแพ้</label>
                </div>
                <div class="form-inline col-md-10">
                  <input type="text" class="form-control" name="allergy" id="allergy" [(ngModel)]="student.allergy" style="width: 80%" required/>
                </div>
              </div>
        </div>
        <div class="form-row" style="margin-left: 10px">
          <div class="form-inline col-md-4">
            <label for="weight" class="label_text">น้ำหนัก</label>
            <input type="number" class="form-control" name="weight" id="weight" [(ngModel)]="health.weight" style="width: 60%" required/>
            <label for="weight" class="label_text" style="margin-left: 5px">กิโลกรัม</label>
          </div>
          <div class="form-inline col-md-4">
            <label for="height" class="label_text">ส่วนสูง</label>
            <input type="number" class="form-control" name="height" id="height" [(ngModel)]="health.height" style="width: 60%" required/>
            <label for="weight" class="label_text" style="margin-left: 5px">เซนติเมตร</label>
          </div>
        </div>
        <div class="form-row" style="margin-left: 10px">
          <div class="form-inline col-md-12">
            <label for="historyHealth" class="label_text">ประวัติการเจ็บป่วยและการรักษา</label>
            <textarea class="form-control" name="historyHealth" id="historyHealth" [(ngModel)]="health.historyHealth" rows="3" style="width: 70%" required></textarea>
          </div>
        </div>
      </div>
      <hr>
      <div>
          <label class="title_in_div">{{address_student}}</label>
          <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-2">
            <label for="houseNumber" class="label_text">บ้านเลขที่</label>
            <input type="text" class="form-control text_input" name="houseNumber" id="houseNumber" [(ngModel)]="address_home_particular.houseNumber" style="width: 50%" required/>
          </div>
          <div class="form-inline col-md-3">
            <label for="address_home_particular.village" class="label_text">ชื่อหมู่บ้าน</label>
            <input type="text" class="form-control" name="address_home_particular.village" id="address_home_particular.village" [(ngModel)]="address_home_particular.village" style="width: 70%" required/>
          </div>
          <div class="form-inline col-md-2">
            <label for="address_home_particular.road" class="label_text">ถนน</label>
            <input type="text" class="form-control" name="address_home_particular.road" id="address_home_particular.road" [(ngModel)]="address_home_particular.road" style="width: 60%" required/>
          </div>
          <div class="form-inline col-md-2">
            <label for="address_home_particular.soi" class="label_text">ซอย</label>
            <input type="text" class="form-control" name="address_home_particular.soi" id="address_home_particular.soi" [(ngModel)]="address_home_particular.soi" style="width: 60%" required/>
          </div>
          <div class="form-inline col-md-3">
            <label for="address_home_particular.province" class="label_text">จังหวัด</label>
              <select class="form-control dropdown" [(ngModel)]="address_home_particular.province" name="address_home_particular.province" id="address_home_particular.province" style="width: 70%" required>
                <option  *ngFor="let province of list_province" [value]="province.province">
                  {{province.province}}
                </option>
              </select>
          </div>
          </div>
          <div class="form-row" style="margin-left: 20px">
            <div class="form-inline col-md-4">
              <label for="address_home_particular.district" class="label_text">อำเภอ</label>
              <select class="form-control dropdown" [(ngModel)]="address_home_particular.district" name="address_home_particular.district" id="address_home_particular.district" style="width: 80%" required>
                <option  *ngFor="let district of list_district" [value]="district.district">
                  {{district.district}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="address_home_particular.subDistrict" class="label_text">ตำบล</label>
              <select class="form-control dropdown" [(ngModel)]="address_home_particular.subDistrict" name="address_home_particular.subDistrict" id="address_home_particular.subDistrict" style="width: 80%" required>
                <option  *ngFor="let subDistrict of list_sub_district" [value]="subDistrict.sub_district">
                  {{subDistrict.sub_district}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="address_home_particular.postCode" class="label_text">รหัสไปรษณีย์</label>
              <input type="text" class="form-control" name="address_home_particular.postCode" id="address_home_particular.postCode" [(ngModel)]="address_home_particular.postCode" style="width: 50%" required/>
            </div>
          </div>
          <hr>
          <label class="title_in_div">{{current_address_student}}</label>
          <div class="form-row" style="margin-left: 20px">
            <div class="form-inline col-md-2">
              <label for="studentCode_current" class="label_text">บ้านเลขที่</label>
              <input type="text" class="form-control" name="address_current.houseNumber" id="address_current.houseNumber" [(ngModel)]="address_current.houseNumber" style="width: 50%" required/>
            </div>
            <div class="form-inline col-md-3">
              <label for="address_home_particular.village" class="label_text">ชื่อหมู่บ้าน</label>
              <input type="text" class="form-control" name="address_home_particular.village" id="address_home_particular.village" [(ngModel)]="address_current.village" style="width: 70%" required/>
            </div>
            <div class="form-inline col-md-2">
              <label for="address_home_particular.road" class="label_text">ถนน</label>
              <input type="text" class="form-control" name="address_home_particular.road" id="address_home_particular.road" [(ngModel)]="address_current.road" style="width: 60%" required/>
            </div>
            <div class="form-inline col-md-2">
              <label for="address_home_particular.soi" class="label_text">ซอย</label>
              <input type="text" class="form-control" name="address_home_particular.soi" id="address_home_particular.soi" [(ngModel)]="address_current.soi" style="width: 60%" required/>
            </div>
            <div class="form-inline col-md-3">
              <label for="address_home_particular.province" class="label_text">จังหวัด</label>
                <select class="form-control dropdown" [(ngModel)]="address_current.province" name="address_home_particular.province" id="address_home_particular.province" style="width: 70%" required>
                  <option  *ngFor="let province of list_province" [value]="province.province">
                    {{province.province}}
                  </option>
                </select>
            </div>
            </div>
            <div class="form-row" style="margin-left: 20px">
            <div class="form-inline col-md-4">
              <label for="address_current.district" class="label_text">อำเภอ</label>
                <select class="form-control dropdown" [(ngModel)]="address_current.district" name="address_current.district" id="address_current.district" style="width: 80%" required>
                  <option  *ngFor="let district of list_district" [value]="district.district">
                    {{district.district}}
                  </option>
                </select>
            </div>
            <div class="form-inline col-md-4">
            <label for="address_current.subDistrict" class="label_text">ตำบล</label>
              <select class="form-control dropdown" [(ngModel)]="address_current.subDistrict" name="address_current.subDistrict" id="address_current.subDistrict" style="width: 80%" required>
                <option  *ngFor="let subDistrict of list_sub_district" [value]="subDistrict.sub_district">
                  {{subDistrict.sub_district}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="address_current.postCode" class="label_text">รหัสไปรษณีย์</label>
              <input type="text" class="form-control" name="address_current.postCode" id="address_current.postCode" [(ngModel)]="address_current.postCode" style="width: 50%" required/>
            </div>
            </div>
          <hr>
          <div>
            <label class="title_in_div">{{family_student}}</label>
            <div class="form-row">
              <div class="form-inline col-md-4">
                <label for="amountMembers" class="label_text">จำนวนสมาชิกในบ้าน</label>
                <select class="form-control dropdown" [(ngModel)]="member.amountMembers" name="amountMembers" id="amountMembers" required>
                  <option  *ngFor="let amount of list_amount" [value]="amount">
                    {{amount}}
                  </option>
                </select>
                <label class="label_text" style="margin-left: 5px">คน</label>
              </div>
              <div class="form-inline col-md-8">
                <label for="memberDetail" class="label_text">ได้แก่</label>
                <input type="text" class="form-control" name="memberDetail" id="memberDetail" [(ngModel)]="member.memberDetail" style="width: 90%" required/>
              </div>
            </div>
            <div class="form-row">
              <div class="form-inline col-md-3">
                <label for="amountSiblings" class="label_text">จำนวนพี่น้อง</label>
                <select class="form-control dropdown" [(ngModel)]="member.amountSiblings" name="amountSiblings" id="amountSiblings" required>
                  <option  *ngFor="let amount of list_amount" [value]="amount">
                    {{amount}}
                  </option>
                </select>
                <label class="label_text" style="margin-left: 5px">คน</label>
              </div>
              <div class="form-inline col-md-5">
                <label for="siblingsDetail" class="label_text">ได้แก่</label>
                <input type="text" class="form-control" name="siblingsDetail" id="siblingsDetail" [(ngModel)]="member.siblingsDetail" style="width: 80%" required/>
              </div>
              <div class="form-inline col-md-4">
                <label for="yourOrderInFamily" class="label_text">นักเรียนเป็นลูกคนที่</label>
                <select class="form-control dropdown" [(ngModel)]="member.yourOrderInFamily" name="yourOrderInFamily" id="yourOrderInFamily" required>
                  <option  *ngFor="let amount of list_amount" [value]="amount">
                    {{amount}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-inline col-md-8">
                <label for="member.relationOfFamily" class="label_text">ความสัมพันธ์ในครอบครัว</label>
                <textarea class="form-control" name="member.relationOfFamily" id="member.relationOfFamily" [(ngModel)]="member.relationOfFamily" rows="3" style="width: 70%" required></textarea>
              </div>
              <div class="form-inline col-md-4">
                <label for="statusOfParent" class="label_text">สถานะทางครอบครัว</label>
                <select class="form-control dropdown" [(ngModel)]="member.statusOfParent" name="statusOfParent" id="statusOfParent" required>
                  <option  *ngFor="let amount of list_status_of_parent" [value]="amount">
                    {{amount}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-inline col-md-12">
                <label for="student.habit" class="label_text">ลักษณะนิสัยของนักเรียน</label>
                <textarea class="form-control" name="student.habit" id="student.habit" [(ngModel)]="history_student.habit" rows="3" style="width: 80%" required></textarea>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-sm-12">
          <div class="mb-2">
            <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
          </div>
        </div>
      <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="image.value == '' || !studentForm.valid"/>
      </form>
    </div>
    <br>
</div>
