<div class="container">
  <p id="title">{{header_title}}</p>
  <div class="create_form">
      <form (ngSubmit)="add_ability_header()" #abilityHeaderForm="ngForm" autocomplete="on">
        <div class="form-row">
          <div class="form-inline col-md-12">
            <label for="abilityHeader" class="label_text">หัวข้อใหญ่</label>
            <input type="text" class="form-control text_input" name="abilityHeader" id="abilityHeader" [(ngModel)]="ability_header.abilityHeader" style="width: 88%" required/>
          </div>
          </div>
          <br>
          <div class="col-sm-12">
            <div class="mb-2">
              <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
            </div>
          </div>
          <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="!abilityHeaderForm.valid"/>
      </form>
    </div>
    <br>
</div>
