<div class="container">
  <p id="title">{{header_title}}</p>
    <div class="create_form">
      <form (ngSubmit)="add_information()" #studentForm="ngForm" autocomplete="on" enctype="multipart/form-data">
        <div>
          <div>
              <div class="form-row">
                <div class="form-inline col-md-12">
                  <label for="" class="label_text">ความสามารถตามหลักสูตรสำหรับผู้บกพร่องทางสติปัญญา</label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="form-inline col-md-12" style="margin-left: 20px">
                  <table *ngFor="let item of abilityHeaders ; let i = index" class="table table-striped" style="margin-right: 50px">
                    <thead>
                      <tr>
                        <th colspan="2">{{item.abilityHeader}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ability of abilities | abilityHeaderFilter:item.abilityHeader ; let i = index" (click)="toggle(abilities.indexOf(ability))">
                        <td>
                          <p>{{ability.abilitySubHeader}}</p>
                        </td>
                        <td>
                          <select class="form-control dropdown abilityDetail" [(ngModel)]="abilityDetail[abilities.indexOf(ability)]" name="abilityDetail[]" (change)="selectedAbility($event.target.value)" required>
                            <option *ngFor="let abilityDetail of abilityDetails | abilityFilter:ability.abilitySubHeader" [value]="abilityDetail.abilityDetailId">
                                {{abilityDetail.abilityDetail}} {{abilityDetail.abilityScore}} คะแนน
                            </option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
        <hr>
        <div class="col-sm-12">
          <div class="mb-2">
            <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
          </div>
        </div>
        <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="!studentForm.valid"/>
      </form>
    </div>
    <br>
</div>
