<div class="container">
    <app-header></app-header>
    <p id="title">{{title}}</p>
    <select class="form-control dropdown" [(ngModel)]="year" (change)="selectYear($event.target.value)">
      <option *ngFor="let item of list_year | groupBy:'year'" [value]="item.key">
        {{item.key}}
      </option>
    </select>
    <tabset>
      <tab *ngFor="let item of search_item" heading="{{item.title}}">
        <div class="form-row">
          <div class="form-inline col-md-12" style="margin: 10px" *ngIf="item.title == 'ค้นหาโดยชื่อ-นามสกุล'">
            <input type="text" class="form-control" [(ngModel)]="search_fname" placeholder="{{item.placeholder.fname}}" style="width: 97%; color: #4c845b; margin-top: 15px"/>
            <input type="text" class="form-control" [(ngModel)]="search_lname" placeholder="{{item.placeholder.lname}}" style="width: 97%; color: #4c845b; margin-top: 15px"/>
          </div>
          <div class="form-inline col-md-12" style="margin: 10px" *ngIf="item.title == 'ค้นหาโดยโรคประจำตัว'">
            <input type="text" class="form-control" [(ngModel)]="search_congenitalDisease" placeholder="{{item.placeholder}}" style="width: 97%; color: #4c845b; margin-top: 15px"/>
          </div>
          <div class="form-inline col-md-12" style="margin: 10px" *ngIf="item.title == 'ค้นหาโดยประเภทความพิการ'">
            <input type="text" class="form-control" [(ngModel)]="search_cripple" placeholder="{{item.placeholder}}" style="width: 97%; color: #4c845b; margin-top: 15px"/>
          </div>
        </div>
        <hr>
        <div *ngIf="students">
          <div class="form-row" *ngFor="let students of students | filter:search_fname:search_lname:search_congenitalDisease:search_cripple">
            <div class="form-inline col-md-9 show_list_student">
              <p>{{students.studentCode}} {{students.prefix}}{{students.firstName}} {{students.lastName}} ชั้น {{students.currentClassroom}}</p>
            </div>
            <div class="form-inline col-md-2 see_detail">
              <p><a (click)="go_to_profile_page(students.studentCode)" style="margin-right: 20px">ดูรายละเอียด</a></p>
              <p><a (click)="deleteStudent(student)" style="color: crimson">ลบข้อมูล</a></p>
            </div>
          </div>
          <!-- If not Insert Information -->
          <div *ngIf="list_student.length == 0">
            <p style="text-align: center">ยังไม่ได้เพิ่มข้อมูลนักเรียน</p>
          </div>
        </div>
      </tab>
    </tabset>
    <br>
</div>
