p, a {
  color: #4c845b;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile_card {
  margin-top: 20px;
}

.form_detail {
  margin-left: 20px;
}

.ability_table th {
  margin-left: 20px;
  text-align: left;
}

.ability_table td, .history td {
  padding: 5px;
  padding-left: 30px;
  padding-right: 15px;
}

.set_right {
  display: inline-block;
  vertical-align: middle;
  right: 0px;
}

.showStudent p b{
  font-weight: bold;
}

.history th {
  text-align: center;
}

a:hover:not(.active) {
  color: #35cb5d;
  text-decoration: none;
}

.active {
  color: #35cb5d;
  font-size: 15px;
  font-weight: 900;
}

/* .panel_card {
  position: relative;
} */

.dropdown {
  position: absolute;
  top: 0px;
  right: 60px;
  width: 100px;
}

.div_ability, .div_health, .personal_div, .addressHome, .div_parent {
  position: relative;
}

.dropdownAbility {
  position: absolute;
  top: 10px;
  right: 60px;
  width: 100px;
}

.addStudent{
  bottom: 5px;
  right: 130px;
}

.editStudent {
  bottom: 5px;
}
