<div class="container">
    <app-header></app-header>
    <p id="title">{{title}}</p>
    <div *ngIf="!students">
      <p style="text-align: center">ยังไม่ได้เพิ่มข้อมูลนักเรียน</p>
    </div>
    <div class="card profile_card" *ngIf="students">
      <div class="card-body">
        <div class="form-row">
          <div class="form-inline col-md-12">
            <p><b>{{personal_info}}</b></p>
          </div>
        </div>
        <div class="form-group form_detail personal_div">
          <table class="showStudent">
            <tr>
              <td style="width:250px" rowspan="5">
                <img [src]="imageUrl" width="180px" height="250px"/>
              </td>
              <td><p>{{students.studentCode}} {{students.prefix}}{{students.firstName}} {{students.lastName}}</p></td>
              <td style="padding-left: 20px"><p><b>วันเดือนปีเกิด</b> {{students.birthDate | date:'longDate' }} <b>อายุ</b> {{(today | date:'y') - (students.birthDate | date:'y')}} ปี</p></td>
              <td>
                <select class="form-control dropdown" [(ngModel)]="search_year">
                  <option *ngFor="let item of historyStudent" [value]="item.year">
                    {{item.year}}
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p><b>เลขประจำตัวประชาชน</b> {{students.idCard}}</p>
                <p><b>เลขประจำตัวบัตรคนพิการ</b> {{students.crippleCard}}</p>
              </td>
              <td style="padding-left: 20px"><p><b>เชื้อชาติ</b> {{students.origin}} <b>สัญชาติ</b> {{students.nationality}} <b>ศาสนา</b> {{students.religion}}</p></td>
            </tr>
            <tr>
              <td><p><b>ประเภทความพิการ</b> {{students.crippleId.crippleType}}</p></td>
              <td style="padding-left: 20px"><p><b>พิการซ้อน</b> {{students.complexCripple}}</p></td>
            </tr>
            <tr>
              <td><p><b>โรงเรียน / สถานศึกษาเดิม </b> {{students.previousSchool}}</p></td>
              <td style="padding-left: 20px"><p><b>เข้าเรียนตั้งแต่ชั้น</b> {{students.startedClassroom}}</p></td>
            </tr>
            <tr *ngFor="let item of historyStudent | filterYear:search_year">
              <td><p><b>ช้นเรียนปัจจุบัน</b> {{item.classroom}}</p></td>
              <td style="padding-left: 20px"><p><b>ครูที่ปรึกษา</b> {{item.teacherName}}</p></td>
            </tr>
            <tr *ngFor="let item of historyStudent | filterYear:search_year">
              <td></td>
              <td><p><b>หอพัก</b> {{item.dormitoryName}}</p></td>
            </tr>
            <tr *ngFor="let item of historyStudent | filterYear:search_year">
              <td></td>
              <td colspan="2"><p><b>ลักษณะนิสัยของนักเรียน</b> {{item.habit}}</p></td>
              <td>
                <div *ngIf="max_history != todayYear">
                    <button (click)="create_history_student(students.studentCode)" class="btn btn-success addStudent">เพิ่มข้อมูล</button>
                </div>
              </td>
            </tr>
          </table>
          <div *ngFor="let item of historyStudent | filterYear:search_year">
            <div *ngFor="let addressHome of addressHome">
              <div *ngFor="let currentAddress of currentAddressStudent">
                <div *ngFor="let members of members">
                  <button (click)="edit_student(students,item,addressHome,currentAddress,members)" class="btn btn-primary editStudent">แก้ไขข้อมูล</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <p><b>{{address_info}}</b></p>
          </div>
        </div>
        <div class="form-row form_detail addressHome" *ngFor="let addressHome of addressHome">
          <div class="form-inline col-md-12">
            <p>{{addressHome.houseNumber}} หมู่บ้าน{{addressHome.village}} ซอย{{addressHome.soi}} ถนน{{addressHome.road}} ตำบล{{addressHome.subDistrict}} อำเภอ{{addressHome.district}} จังหวัด{{addressHome.province}} {{addressHome.postCode}}</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <p><b>{{current_address_info}}</b></p>
          </div>
        </div>
        <div class="form-row form_detail addressHome" *ngFor="let currentAddress of currentAddressStudent">
          <div class="form-inline col-md-12">
            <p>{{currentAddress.houseNumber}} หมู่บ้าน{{currentAddress.village}} ซอย{{currentAddress.soi}} ถนน{{currentAddress.road}} ตำบล{{currentAddress.subDistrict}} อำเภอ{{currentAddress.district}} จังหวัด{{currentAddress.province}} {{currentAddress.postCode}}</p>
          </div>
        </div>
        <hr>
        <div class="div_health">
          <div class="form-row">
            <div class="form-inline col-md-12">
              <p><b>{{health_info}}</b></p>
            </div>
          </div>
          <div class="form-row form_detail">
            <div class="form-inline col-md-12">
                <p><b>โรคประจำตัว</b> {{students.congenitalDisease}}</p>
            </div>
          </div>
          <div class="form-row form_detail">
            <div class="form-inline col-md-12">
                <p><b>ยาประจำตัว</b> {{students.personalMedicine}}</p>
            </div>
          </div>
          <div class="form-row form_detail">
            <div class="form-inline col-md-12">
                <p><b>อาการแพ้</b> {{students.allergy}}</p>
            </div>
          </div>
          <div class="form-row form_detail">
            <table class="table table-striped history" style="margin-right: 50px">
              <tr>
                <th><p>ปีการศึกษา</p></th>
                <th><p>น้ำหนัก (กิโลกรัม)</p></th>
                <th><p>ส่วนสูง (เซนติเมตร)</p></th>
                <th><p>ประวัติการเจ็บป่วยและการรักษา</p></th>
              </tr>
              <tr *ngFor="let item of health">
                <td style="text-align: center;padding: 0px;"><p>{{item.year}}</p></td>
                <td style="text-align: center;padding: 0px;"><p>{{item.weight}}</p></td>
                <td style="text-align: center;padding: 0px;"><p>{{item.height}}</p></td>
                <td style="padding: 0px"><p>{{item.historyHealth}}</p></td>
              </tr>
            </table>
            <br><br>
            <div>
              <!-- <div *ngIf="max_health != todayYear"> -->
                <button (click)="create_health(studentCode)" class="btn btn-success addStudent">เพิ่มข้อมูล</button>
              <!-- </div> -->
            </div>
            <div>
              <button (click)="create_history_student(students.studentCode)" class="btn btn-primary editStudent">แก้ไขข้อมูล</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <p><b>{{parent_info}}</b></p>
          </div>
        </div>
        <div *ngFor="let parent of parents">
          <div class="div_parent">
            <div class="form-row" style="margin-left: 10px">
              <div class="form-inline col-md-12">
                  <p><b>{{parent.relationship}}</b></p>
              </div>
            </div>
            <div class="form-row form_detail">
              <div class="form-inline col-md-4">
                <p>{{parent.prefix}}{{parent.firstName}} {{parent.lastName}}</p>
              </div>
              <div class="form-inline col-md-4">
                <p><b>วันเดือนปีเกิด</b> {{parent.birthDate | date:'longDate' }} <b>อายุ</b> {{(today | date:'y') - (parent.birthDate | date:'y')}} ปี</p>
              </div>
              <div class="form-inline col-md-4">
                <p><b>เชื้อชาติ</b> {{parent.origin}} <b>สัญชาติ</b> {{parent.nationality}} <b>ศาสนา</b> {{parent.religion}}</p>
              </div>
            </div>
            <div class="form-row form_detail">
              <div class="form-inline col-md-1">
                <p><b>อาชีพ</b> {{parent.job}}</p>
              </div>
              <div class="form-inline col-md-3">
                <p><b>ฐานะทางเศรษฐกิจ</b> {{parent.economicStatus}}</p>
              </div>
              <div class="form-inline col-md-3">
                <p><b>เบอร์โทรศัพท์</b> 0{{parent.telephone}}</p>
              </div>
            </div>
            <div class="form-row" style="margin-left: 10px">
              <div class="form-inline col-md-12">
                <p><b>{{current_address_info}}</b></p>
              </div>
            </div>
              <div class="form-row form_detail" *ngFor="let currentAddress of currentAddress">
              <div>
                <div class="form-inline col-md-12">
                  <p>{{currentAddress.houseNumber}} หมู่บ้าน{{currentAddress.village}} ซอย{{currentAddress.soi}} ถนน{{currentAddress.road}} ตำบล{{currentAddress.subDistrict}} อำเภอ{{currentAddress.district}} จังหวัด{{currentAddress.province}} {{currentAddress.postCode}}</p>
                </div>
              </div>
            </div>
            <div class="form-row form_detail">
              <div *ngFor="let currentAddress of currentAddressStudent">
                <button (click)="edit_parent(parent,currentAddress)" class="btn btn-primary editStudent">แก้ไขข้อมูล</button>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div *ngFor="let members of members">
          <div class="form-row">
            <div class="form-inline col-md-12">
              <p><b>สมาชิกในครอบครัว</b></p>
            </div>
          </div>
          <div class="form-row form_detail">
            <p><b>จำนวนสมาชิกในบ้าน</b> {{members.amountMembers}} คน ได้แก่ {{members.memberDetail}}</p>
          </div>
          <div class="form-row form_detail">
            <p><b>จำนวนพี่น้อง</b> {{members.amountSiblings}} คน ได้แก่ {{members.siblingsDetail}}</p>
          </div>
          <div class="form-row form_detail">
            <p><b>นักเรียนเป็นลูกคนที่</b> {{members.yourOrderInFamily}}</p>
          </div>
          <div class="form-row form_detail">
            <p><b>สถานะทางครอบครัว </b> {{members.statusOfParent}}</p>
          </div>
          <div class="form-row form_detail">
            <p><b>ความสัมพันธ์ในครอบครัว</b> {{members.relationOfFamily}}</p>
          </div>
        </div>
        <hr>
        <div *ngIf="students" class="div_ability">
          <div class="form-row">
            <div class="form-inline col-md-12">
              <p><b>ความสามารถตามหลักสูตรสำหรับผู้เรียนที่บกพร่องทางสติปัญญา</b></p>
            </div>
          </div>
          <div class="form-row">
            <td>
              <select class="form-control dropdownAbility" [(ngModel)]="year" (change)="selectYear($event.target.value)">
                <option *ngFor="let item of year_ability | groupBy:'year'" [value]="item.key">
                  {{item.key}}
                </option>
              </select>
            </td>
          </div>
          <div class="form-row form_detail">
              <div class="form-inline col-md-12" style="margin-left: 20px">
                <table *ngFor="let item of abilityHeaders ; let i = index" class="table table-striped ability_table" style="margin-right: 50px">
                  <thead>
                    <tr>
                      <th colspan="2"><p><b>{{item.abilityHeader}}</b></p></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ability of abilities | abilityHeaderFilter:item.abilityHeader ; let i = index">
                      <td style="width: 400px">
                        <p>{{ability.abilitySubHeader}}</p>
                      </td>
                      <td *ngFor="let item of abilityList | abilityListfilter:ability.abilitySubHeader">
                        <p>{{item.abilityDetailId.abilityDetail}} {{item.abilityDetailId.abilityScore}} คะแนน</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="set_right">
                  <div class="form-row form_detail">
                    <p>คะแนนรวม {{getSum()}} คะแนน</p>
                  </div>
                  <div class="form-row form_detail">
                    <p>คะแนนเฉลี่ย {{(getSum())/(totalScore)}} คะแนน</p>
                  </div>
                </div>
                <div>
                  <!-- <div *ngIf="max_ability != todayYear"> -->
                    <button (click)="create_ability(studentCode)" class="btn btn-success addStudent" style="margin-right: 30px">เพิ่มข้อมูล</button>
                  <!-- </div> -->
                </div>
                <div>
                  <button (click)="create_history_student(students.studentCode)" class="btn btn-primary editStudent" style="right: 42px;">แก้ไขข้อมูล</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
