#title {
  margin-top: 4px;
  margin-bottom: 12px;
  text-align: center;
  color: #4c845b;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box_create {
  padding: 40px;
  border-radius: 7.5px;
  border-color: #4c845b;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.radio_button {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}


