<div class="container">
  <p id="title">{{header_title}}</p>
    <div class="create_form">
      <form (ngSubmit)="add_information()" #studentForm="ngForm" autocomplete="on" enctype="multipart/form-data">
        <div>
          <div>
              <div class="form-row">
                <div class="form-inline col-md-12">
                  <label class="label_text"><b>{{personal_info}}</b></label>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="form-inline col-md-4">
                  <label for="weight" class="label_text">รหัสประจำตัวนักเรียน {{studentCode}}</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-inline col-md-4">
                    <label for="classroom" class="label_text">ชั้นเรียนปัจจุบัน</label>
                    <select class="form-control dropdown text_input" [(ngModel)]="history_student.classroom" id="classroom" name="classroom" style="width: 60%" required>
                      <option  *ngFor="let classroom of list_classroom" [value]="classroom">
                        {{classroom}}
                      </option>
                    </select>
                  </div>
                  <div class="form-inline col-md-5">
                    <label for="teacherName" class="label_text">ครูประจำชั้น</label>
                    <input type="text" class="form-control" name="teacherName" id="teacherName" [(ngModel)]="history_student.teacherName" style="width: 60%" required/>
                  </div>
                  <div class="form-inline col-md-3">
                    <label for="dormitory" class="label_text">หอพัก</label>
                    <select class="form-control dropdown" name="dormitory" id="dormitory" [(ngModel)]="history_student.dormitoryName" required>
                      <option *ngFor="let dormitory of list_dormitory" [value]="dormitory">{{dormitory}}</option>
                    </select>
                  </div>
              </div>
              <div class="form-row">
              <div class="form-inline col-md-12">
                <label for="student.habit" class="label_text">ลักษณะนิสัยของนักเรียน</label>
                <textarea class="form-control" name="student.habit" id="student.habit" [(ngModel)]="history_student.habit" rows="3" style="width: 80%" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-sm-12">
          <div class="mb-2">
            <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
          </div>
        </div>
        <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="!studentForm.valid"/>
      </form>
    </div>
    <br>
</div>
