<div class="container">
  <p id="title">{{header_title}}</p>
    <div class="create_form">
      <form (ngSubmit)="add_ability()" #abilityForm="ngForm" autocomplete="on">
        <div class="form-row">
          <div class="form-inline col-md-12">
              <label for="ability" class="label_text">หัวข้อใหญ่</label>
              <select class="form-control dropdown" [(ngModel)]="abilityHeaderId" id="ability" name="ability" required>
                <option  *ngFor="let ability of ability_header" [value]="ability.abilityHeaderId">
                  {{ability.abilityHeader}}
                </option>
              </select>
            </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <label for="abilitySubHeader" class="label_text">หัวข้อย่อย</label>
            <input type="text" class="form-control text_input" name="abilitySubHeader" id="abilitySubHeader" [(ngModel)]="ability.abilitySubHeader" style="width: 88%"/>
          </div>
        </div>
        <br>
        <div class="col-sm-12">
          <div class="mb-2">
            <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
          </div>
        </div>
      <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="!abilityForm.valid"/>
      </form>
    </div>
    <br>
</div>
