<div class="container">
  <app-header></app-header>
  <p id="title">{{title}}</p>
  <select class="form-control dropdown" [(ngModel)]="year" (change)="selectYear($event.target.value)">
    <option *ngFor="let item of list_year | groupBy:'year'" [value]="item.key">
      {{item.key}}
    </option>
  </select>
  <tabset>
    <tab *ngFor="let item of search_item" heading="{{item.title}}">
      <div class="form-row">
        <div class="form-inline col-md-12" style="margin: 10px" *ngIf="item.title == 'ค้นหาโดยชั้นเรียน'">
          <input type="text" class="form-control" [(ngModel)]="search_classroom" placeholder="{{item.placeholder}}" style="width: 97%; color: #4c845b; margin-top: 15px"/>
        </div>
        <div class="form-inline col-md-12" style="margin: 10px" *ngIf="item.title == 'ค้นหาโดยหอพัก'">
          <input type="text" class="form-control" [(ngModel)]="search_dormitory" placeholder="{{item.placeholder}}" style="width: 97%; color: #4c845b; margin-top: 15px"/>
        </div>
      </div>
      <hr>
      <div *ngIf="historyStudent">
        <div class="form-row" *ngFor="let students of historyStudent | searchHistory:search_classroom:search_dormitory">
          <div class="form-inline col-md-9 show_list_student">
            <p>{{students.studentCode.studentCode}} {{students.studentCode.prefix}}{{students.studentCode.firstName}} {{students.studentCode.lastName}} ชั้น {{students.studentCode.currentClassroom}}</p>
          </div>
          <div class="form-inline col-md-2 see_detail">
            <p><a (click)="go_to_profile_page(students.studentCode.studentCode)" style="margin-right: 20px">ดูรายละเอียด</a></p>
          </div>
        </div>
        <!-- If not Insert Information -->
        <div *ngIf="list_history.length == 0">
          <p style="text-align: center">ยังไม่ได้เพิ่มข้อมูลนักเรียน</p>
        </div>
      </div>
    </tab>
  </tabset>
  <br>
</div>
