<div class="container">
  <p id="title">{{header_title}}</p>
  <div class="create_form">
    <form (ngSubmit)="edit_information()">
      <div>
        <label class="title_in_div">{{parent_}}</label>
        <div class="form-row" style="margin-left: 20px">
          <div class="form-group col-md-2 text_not_have_label">
            <select class="form-control dropdown" name="prefix" id="prefix" [(ngModel)]="parent.prefix">
              <option *ngFor="let item of list_prefix" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="form-inline col-md-3">
            <label for="firstName" class="label_text">ชื่อ</label>
            <input type="text" class="form-control text_input" name="firstName" id="firstName" [(ngModel)]="parent.firstName" style="width: 80%"/>
            <input type="hidden" class="form-control text_input" name="relationship" id="relationship" [(ngModel)]="parent.relationship"/>
            <input type="hidden" class="form-control text_input" name="type" id="type" [(ngModel)]="parent.type"/>
          </div>
          <div class="form-inline col-md-4">
            <label for="lastName" class="label_text">สกุล</label>
            <input type="text" class="form-control text_input" name="lastName" id="lastName" [(ngModel)]="parent.lastName" style="width: 80%"/>
          </div>
          <div class="form-group col-md-3 text_not_have_label">
            <input type="text" class="form-control" name="birthDate" id="birthDate" placeholder="วันเดือนปีเกิด" [(ngModel)]="parent.birthDate"
              #birthDay="bsDatepicker" bsDatepicker [bsValue]="bsValue"
              [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY' }" autocomplete="off"/>
          </div>
        </div>
        <div class="form-row" style="margin-left: 20px">
            <div class="form-inline col-md-4">
              <label for="origin" class="label_text">เชื้อชาติ</label>
              <select class="form-control dropdown text_input" [(ngModel)]="parent.origin" name="origin" id="origin" style="width: 80%">
                <option  *ngFor="let origin of list_origin" [value]="origin">
                  {{origin}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="nationality" class="label_text">สัญชาติ</label>
              <select class="form-control dropdown" [(ngModel)]="parent.nationality" name="nationality" id="nationality" style="width: 80%">
                <option  *ngFor="let nationality of list_origin" [value]="nationality">
                  {{nationality}}
                </option>
              </select>
            </div>
            <div class="form-inline col-md-4">
              <label for="religion" class="label_text">ศาสนา</label>
              <select class="form-control dropdown" [(ngModel)]="parent.religion" name="religion" id="religion" style="width: 80%">
                <option  *ngFor="let religion of list_religion" [value]="religion">
                  {{religion}}
                </option>
              </select>
            </div>
        </div>
        <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-4">
            <label for="parent.job" class="label_text">อาชีพ</label>
            <input type="text" class="form-control text_input" name="parent.job" id="parent.job" [(ngModel)]="parent.job"/>
          </div>
          <div class="form-inline col-md-4">
            <label for="parent.economicStatus" class="label_text">ฐานะทางเศรษฐกิจ</label>
            <select class="form-control dropdown" [(ngModel)]="parent.economicStatus" name="parent.economicStatus" id="parent.economicStatus">
              <option  *ngFor="let economicStatus of list_economic_status" [value]="economicStatus">
                {{economicStatus}}
              </option>
            </select>
          </div>
          <div class="form-inline col-md-4">
            <label for="telephone" class="label_text">เบอร์โทรศัพท์</label>
            <input type="tel" class="form-control text_input" name="telephone" id="telephone" [(ngModel)]="parent.telephone"/>
          </div>
        </div>
        <hr>
        <div>
        <label class="title_in_div">{{current_address_student}}</label>
        <br>
        <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-2">
            <label for="address_current.houseNumber" class="label_text">บ้านเลขที่</label>
            <input type="text" class="form-control" name="address_current.houseNumber" id="address_current.houseNumber" [(ngModel)]="address_current.houseNumber" style="width: 50%"/>
          </div>
          <div class="form-inline col-md-3">
            <label for="address_home_particular.village" class="label_text">ชื่อหมู่บ้าน</label>
            <input type="text" class="form-control" name="address_home_particular.village" id="address_home_particular.village" [(ngModel)]="address_current.village" style="width: 70%"/>
          </div>
          <div class="form-inline col-md-2">
            <label for="address_home_particular.road" class="label_text">ถนน</label>
            <input type="text" class="form-control" name="address_home_particular.road" id="address_home_particular.road" [(ngModel)]="address_current.road" style="width: 60%"/>
          </div>
          <div class="form-inline col-md-2">
            <label for="address_home_particular.soi" class="label_text">ซอย</label>
            <input type="text" class="form-control" name="address_home_particular.soi" id="address_home_particular.soi" [(ngModel)]="address_current.soi" style="width: 60%"/>
          </div>
          <div class="form-inline col-md-3">
            <label for="address_home_particular.province" class="label_text">จังหวัด</label>
              <select class="form-control dropdown" [(ngModel)]="address_current.province" name="address_home_particular.province" id="address_home_particular.province" style="width: 70%">
                <option  *ngFor="let province of list_province" [value]="province.province">
                  {{province.province}}
                </option>
              </select>
          </div>
          </div>
          <div class="form-row" style="margin-left: 20px">
          <div class="form-inline col-md-4">
            <label for="address_current.district" class="label_text">อำเภอ</label>
              <select class="form-control dropdown" [(ngModel)]="address_current.district" name="address_current.district" id="address_current.district" style="width: 80%">
                <option  *ngFor="let district of list_district" [value]="district.district">
                  {{district.district}}
                </option>
              </select>
          </div>
          <div class="form-inline col-md-4">
          <label for="address_current.subDistrict" class="label_text">ตำบล</label>
            <select class="form-control dropdown" [(ngModel)]="address_current.subDistrict" name="address_current.subDistrict" id="address_current.subDistrict" style="width: 80%">
              <option  *ngFor="let subDistrict of list_sub_district" [value]="subDistrict.sub_district">
                {{subDistrict.sub_district}}
              </option>
            </select>
          </div>
          <div class="form-inline col-md-4">
            <label for="address_current.postCode" class="label_text">รหัสไปรษณีย์</label>
            <input type="text" class="form-control" name="address_current.postCode" id="address_current.postCode" [(ngModel)]="address_current.postCode" style="width: 50%"/>
          </div>
          </div>
        <hr>
      </div>
      </div>
      <input type="submit" value="ถัดไป" class="btn btn-success"/>
    </form>
  </div>
</div>