<div class="container">
  <p id="title">{{header_title}}</p>
    <div class="create_form">
      <form (ngSubmit)="add_ability()" #abilityForm="ngForm" autocomplete="on">
        <div class="form-row">
          <div class="form-inline col-md-12">
              <label for="ability" class="label_text">หัวข้อย่อย</label>
              <select class="form-control dropdown" [(ngModel)]="abilityId" id="ability" name="ability" required>
                <option  *ngFor="let ability of abilities" [value]="ability.abilityId">
                  {{ability.abilitySubHeader}}
                </option>
              </select>
            </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <label for="abilityDetail" class="label_text">รายละเอียด</label>
            <input type="text" class="form-control text_input" name="abilityDetail" id="abilityDetail" [(ngModel)]="ability.abilityDetail" style="width: 89%" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-inline col-md-12">
            <label for="abilityScore" class="label_text">คะแนน</label>
            <input type="number" class="form-control text_input" name="abilityScore" id="abilityScore" [(ngModel)]="ability.abilityScore" style="width: 89%" required/>
          </div>
        </div>
        <br>
        <div class="col-sm-12">
          <div class="mb-2">
            <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
          </div>
        </div>
      <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="!abilityForm.valid"/>
      </form>
    </div>
    <br>
</div>
