/* You can add global styles to this file, and also import other style files */
#title {
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: center;
  color: #4c845b;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title_in_div {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  color: #4c845b;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create_form {
  padding: 20px;
  left: 0;
  color: #4c845b;
  border-radius: 17.5px;
  border: 2px solid #4c845b;
  position: relative;
  padding-bottom: 70px;
}

.form-row {
  padding-left: 10px;
}

.btn {
  right: 15px;
  margin-top: 20px;
  position: absolute;
}

.text_not_have_label {
  margin-top: 16px;
}

.label_text {
  margin-right: 5px;
}

.text_input {
  width: 85%;
}

.radio_button {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

textarea {
  resize: none;
}

th {
  margin-top: 0px;
  text-align: center;
}

