<div class="container">
  <p id="title">{{header_title}}</p>
    <div class="create_form">
      <form (ngSubmit)="add_information()" #studentForm="ngForm" autocomplete="on" enctype="multipart/form-data">
        <div>
          <div>
              <div class="form-row">
                <div class="form-inline col-md-12">
                  <label class="label_text"><b>{{health_info}}</b></label>
                </div>
              </div>
              <br>
              <div class="form-row" style="margin-left: 10px">
                <div class="form-inline col-md-4">
                  <label for="weight" class="label_text">รหัสประจำตัวนักเรียน {{studentCode}}</label>
                </div>
              </div>
              <div class="form-row" style="margin-left: 10px">
                <div class="form-inline col-md-4">
                  <label for="weight" class="label_text">น้ำหนัก</label>
                  <input type="number" class="form-control" name="weight" id="weight" [(ngModel)]="health.weight" style="width: 60%" required/>
                  <label for="weight" class="label_text" style="margin-left: 5px">กิโลกรัม</label>
                </div>
                <div class="form-inline col-md-4">
                  <label for="height" class="label_text">ส่วนสูง</label>
                  <input type="number" class="form-control" name="height" id="height" [(ngModel)]="health.height" style="width: 60%" required/>
                  <label for="weight" class="label_text" style="margin-left: 5px">เซนติเมตร</label>
                </div>
              </div>
              <div class="form-row" style="margin-left: 10px">
                <div class="form-inline col-md-12">
                  <label for="historyHealth" class="label_text">ประวัติการเจ็บป่วยและการรักษา</label>
                  <textarea class="form-control" name="historyHealth" id="historyHealth" [(ngModel)]="health.historyHealth" rows="3" style="width: 70%" required></textarea>
                </div>
              </div>
          </div>
        </div>
        <hr>
        <div class="col-sm-12">
          <div class="mb-2">
            <progressbar [value]="progress_bar" type="warning" [striped]="true">{{progress_bar}}%</progressbar>
          </div>
        </div>
        <input type="submit" value="ถัดไป" class="btn btn-success" [disabled]="!studentForm.valid"/>
      </form>
    </div>
    <br>
</div>
